{
    "extends": "airbnb-base",
    "env": {
        "es6": true,
        "node": true,
        "mocha": true
    },
    "parserOptions": {
        "sourceType": "script"
    },
    "globals": {
        "moment": true,
        "describe": true,
        "it": true,
        "assert": true
    },
    "rules": {
        "no-tabs": "off",
        "indent": ["warn", "tab"],
        "one-var": "off",
        "arrow-parens": "off",
        "function-paren-newline": "off",
        "comma-dangle":"off",
        "prefer-template":"warn",
        "import/no-dynamic-require":"off",
        "global-require":"warn",
        "no-param-reassign":"off",
        "class-methods-use-this": "off",
        "no-prototype-builtins":"warn",
        "wrap-iife":"off",
        "no-debugger": "warn"
    }
}
